.App {
    margin-left: auto;
    margin-right: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ParserForm-chunks {
    list-style: none;
    padding-left: 0;
}

.ParserForm-chunks li {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
}

.ParserForm-chunks>li+li:before {
    content: "\00a0/\00a0";
}

.ParserForm-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.ParserForm-hunk {
    border: 1px solid rgb(72,219,249);
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0.75em;
}

.ParserForm-chunk:hover {
    /*color: red;*/
    background-color: rgb(72,219,249);
}
